* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #0000FF; /* Blue background */
  cursor: url('cursor.png'), auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  color: #FFFF00; /* Yellow text */
}

.logo {
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 5em;
}

.logo:hover {
  color: #8256FF;
}

.subtext {
  font-size: 1.2em;
  color: white;
}

.contact {
  display: block;
  color: white;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Responsive container */
@media (max-width: 600px) {
  .logo {
    font-size: 5em;
  }
  .subtext {
    font-size: .5em;
  }
}
